@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add63:before {
	content: "\e000";
}
.flaticon-arrow408:before {
	content: "\e001";
}
.flaticon-arrow414:before {
	content: "\e002";
}
.flaticon-arrow429:before {
	content: "\e003";
}
.flaticon-attachment7:before {
	content: "\e004";
}
.flaticon-bottom4:before {
	content: "\e005";
}
.flaticon-bullet4:before {
	content: "\e006";
}
.flaticon-calendar48:before {
	content: "\e007";
}
.flaticon-camera41:before {
	content: "\e008";
}
.flaticon-chat25:before {
	content: "\e009";
}
.flaticon-chat26:before {
	content: "\e00a";
}
.flaticon-correct7:before {
	content: "\e00b";
}
.flaticon-heart64:before {
	content: "\e00c";
}
.flaticon-home60:before {
	content: "\e00d";
}
.flaticon-layers4:before {
	content: "\e00e";
}
.flaticon-mail21:before {
	content: "\e00f";
}
.flaticon-menu19:before {
	content: "\e010";
}
.flaticon-one12:before {
	content: "\e011";
}
.flaticon-outcoming1:before {
	content: "\e012";
}
.flaticon-photo31:before {
	content: "\e013";
}
.flaticon-pictures1:before {
	content: "\e014";
}
.flaticon-play33:before {
	content: "\e015";
}
.flaticon-ruler9:before {
	content: "\e016";
}
.flaticon-skype7:before {
	content: "\e017";
}
.flaticon-speech39:before {
	content: "\e018";
}
.flaticon-speech44:before {
	content: "\e019";
}
.flaticon-star51:before {
	content: "\e01a";
}
.flaticon-tools4:before {
	content: "\e01b";
}
.flaticon-user65:before {
	content: "\e01c";
}
.flaticon-users2:before {
	content: "\e01d";
}
.flaticon-wrong6:before {
	content: "\e01e";
}
