

/*CSS Responsive*/
@media all and (max-width: 767px) {
  .sm-deal .deal-resp04-6 .deal-item {
    width: 16.666%;
  }

  .sm-deal .deal-resp04-5 .deal-item {
    width: 20%;
  }

  .sm-deal .deal-resp04-4 .deal-item {
    width: 25%;
  }

  .sm-deal .deal-resp04-3 .deal-item {
    width: 33.333%;
  }

  .sm-deal .deal-resp04-2 .deal-item {
    width: 50%;
  }

  .sm-deal .deal-resp04-1 .deal-item {
    width: 100%;
  }

  .sm-deal .deal-resp04-1 .clr1,
  .sm-deal .deal-resp04-2 .clr2,
  .sm-deal .deal-resp04-3 .clr3,
  .sm-deal .deal-resp04-4 .clr4,
  .sm-deal .deal-resp04-5 .clr5,
  .sm-deal .deal-resp04-6 .clr6 {
    clear: both;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .sm-deal .deal-resp03-6 .deal-item {
    width: 16.666%;
  }

  .sm-deal .deal-resp03-5 .deal-item {
    width: 20%;
  }

  .sm-deal .deal-resp03-4 .deal-item {
    width: 25%;
  }

  .sm-deal .deal-resp03-3 .deal-item {
    width: 33.333%;
  }

  .sm-deal .deal-resp03-2 .deal-item {
    width: 50%;
  }

  .sm-deal .deal-resp03-1 .deal-item {
    width: 100%;
  }

  .sm-deal .deal-resp03-1 .clr1 {
    clear: both;
  }

  .sm-deal .deal-resp03-2 .clr2 {
    clear: both;
  }

  .sm-deal .deal-resp03-3 .clr3 {
    clear: both;
  }

  .sm-deal .deal-resp03-4 .clr4 {
    clear: both;
  }

  .sm-deal .deal-resp03-5 .clr5 {
    clear: both;
  }

  .sm-deal .deal-resp03-6 .clr6 {
    clear: both;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .sm-deal .deal-resp02-6 .deal-item {
    width: 16.666%;
  }

  .sm-deal .deal-resp02-5 .deal-item {
    width: 20%;
  }

  .sm-deal .deal-resp02-4 .deal-item {
    width: 25%;
  }

  .sm-deal .deal-resp02-3 .deal-item {
    width: 33.333%;
  }

  .sm-deal .deal-resp02-2 .deal-item {
    width: 50%;
  }

  .sm-deal .deal-resp02-1 .deal-item {
    width: 100%;
  }

  .sm-deal .deal-resp02-1 .clr1,
  .sm-deal .deal-resp02-2 .clr2,
  .sm-deal .deal-resp02-3 .clr3,
  .sm-deal .deal-resp02-4 .clr4,
  .sm-deal .deal-resp02-5 .clr5,
  .sm-deal .deal-resp02-6 .clr6 {
    clear: both;
  }
}

@media all and (min-width: 1200px) {
  .sm-deal .deal-resp01-6 .deal-item {
    width: 16.666%;
  }

  .sm-deal .deal-resp01-5 .deal-item {
    width: 20%;
  }

  .sm-deal .deal-resp01-4 .deal-item {
    width: 25%;
  }

  .sm-deal .deal-resp01-3 .deal-item {
    width: 33.333%;
  }

  .sm-deal .deal-resp01-2 .deal-item {
    width: 50%;
  }

  .sm-deal .deal-resp01-1 .deal-item {
    width: 100%;
  }

  .sm-deal .deal-resp01-1 .clr1,
  .sm-deal .deal-resp01-2 .clr2,
  .sm-deal .deal-resp01-3 .clr3,
  .sm-deal .deal-resp01-4 .clr4,
  .sm-deal .deal-resp01-5 .clr5,
  .sm-deal .deal-resp01-6 .clr6 {
    clear: both;
  }
}

