<?xml version="1.0"?>
<config>
    <modules>
        <LR_CallPrice>
            <version>0.3.0</version>
        </LR_CallPrice>
    </modules>

    <global>
        <blocks>
            <lr_callprice>
                <class>LR_CallPrice_Block</class>
            </lr_callprice>
        </blocks>
        <helpers>
            <lr_callprice>
                <class>LR_CallPrice_Helper</class>
            </lr_callprice>
        </helpers>
        <models>
            <lr_callprice>
                <class>LR_CallPrice_Model</class>
                <resourceModel>lr_callprice_resource</resourceModel>
            </lr_callprice>
            <lr_callprice_resource>
                <class>LR_CallPrice_Model_Resource</class>
                <entities>
                    <request>
                        <table>lr_callprice_request</table>
                    </request>
                </entities>
            </lr_callprice_resource>
        </models>
        <resources>
            <lr_callprice_setup>
                <setup>
                    <module>LR_CallPrice</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lr_callprice_setup>
            <lr_callprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lr_callprice_write>
            <lr_callprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lr_callprice_read>
        </resources>
        <template>
            <email>
                <callprice_email_template module="lr_callprice">
                    <label>Call For Price</label>
                    <file>call_for_price.html</file>
                    <type>html</type>
                </callprice_email_template>
            </email>
        </template>
    </global>

    <frontend>
        <routers>
            <LR_CallPrice>
                <use>standard</use>
                <args>
                    <module>LR_CallPrice</module>
                    <frontName>callprice</frontName>
                </args>
            </LR_CallPrice>
        </routers>
        <layout>
            <updates>
                <lr_callprice>
                      <file>lr_callprice.xml</file>
                  </lr_callprice>
              </updates>
          </layout>
          <translate>
              <modules>
                  <LR_CallPrice>
                      <files>
                          <default>LR_CallPrice.csv</default>
                      </files>
                  </LR_CallPrice>
              </modules>
          </translate>
      </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <lr_callprice after="Mage_Adminhtml">LR_CallPrice_Adminhtml</lr_callprice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
      </admin>

    <adminhtml>
        <layout>
            <updates>
                <lr_callprice>
                    <file>lr_callprice.xml</file>
                </lr_callprice>
          </updates>
        </layout>
        <translate>
            <modules>
                <LR_CallPrice>
                    <files>
                        <default>LR_CallPrice.csv</default>
                    </files>
                </LR_CallPrice>
            </modules>
        </translate>
    </adminhtml>
</config>