<?xml version="1.0"?>
<config>
	<modules>
		<Sm_Furnicom>
			<version>1.0.0</version>
			<title>MagenTech.com</title>
			<link><![CDATA[http://www.magentech.com/]]></link>
		</Sm_Furnicom>
	</modules>
	<global>
		<models>
			<furnicom>
				<class>Sm_Furnicom_Model</class>
			</furnicom>
		</models>	
		<blocks>
            <furnicom>
                <class>Sm_Furnicom_Block</class>
            </furnicom>
			<page>
                <rewrite>
                    <html_head>Sm_Furnicom_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>	
        </blocks>				
		<helpers>
            <furnicom>
                <class>Sm_Furnicom_Helper</class>
            </furnicom>
			<core>
                <rewrite>
                    <data>Sm_Furnicom_Helper_Core_Data</data>
                </rewrite>
            </core>	
        </helpers>
        <resources>
        	<furnicom_setup>
        		<setup>
        			<module>Sm_Furnicom</module>
        		</setup>
				<connection>
					<use>core_setup</use>
				</connection>
        	</furnicom_setup>
        </resources>
		<events>
			<controller_action_layout_render_before>
				 <observers>
                    <furnicom>
                        <type>singleton</type>
                        <class>furnicom/observer</class>
                        <method>less_compile</method>
                    </furnicom>
                </observers>
			</controller_action_layout_render_before>
		</events>	
	</global>

	<frontend>
		<routers>
			<furnicom>
				<use>standard</use>
				<args>
					<module>Sm_Furnicom</module>
					<frontName>furnicom</frontName>
				</args>
			</furnicom>
		</routers>
		<layout>
			<updates>
				<furnicom>
					<file>sm/furnicom.xml</file>
				</furnicom>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Furnicom>
					<files>
						<default>Sm_Furnicom.csv</default>
					</files>
				</Sm_Furnicom>
			</modules>
		</translate>
	</frontend>
	
	<admin>        
		<routers>			
			<furnicom>
				<use>admin</use>				
				<args>					
					<module>Sm_Furnicom</module>
					<frontName>furnicom</frontName>
				</args>			
			</furnicom>
		</routers>    
	</admin>	
	
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Furnicom>
                     <files>
                          <default>Sm_Furnicom.csv</default>
                     </files>
                </Sm_Furnicom>
            </modules>
        </translate>
        <layout>
            <updates>
                <furnicom module="Sm_Furnicom">
                    <file>sm/furnicom.xml</file>
                </furnicom>
            </updates>
        </layout>
    </adminhtml>
	
 	<default>
		<furnicom_cfg module="furnicom">
			<general>
			<!-- Layout -->			
				<layout_styles>1</layout_styles>
				<header_style>1</header_style>
				<color>brown</color>
			<!-- Entire Page -->
				<body_font_family>maingooglefont</body_font_family>
				<body_font_size>12px</body_font_size>
				<google_font>Poppins</google_font>
				<google_font_targets>Lobster</google_font_targets>
				<direction>1</direction>
				<body_link_color>#444444</body_link_color>
				<body_link_hover_color>#BEAE59</body_link_hover_color>
				<body_text_color>#666666</body_text_color>
				<body_background_color>#eeeeee</body_background_color>
				<use_background_image>0</use_background_image>
				<body_background_image></body_background_image>
				<use_customize_image></use_customize_image>
				<background_customize_image></background_customize_image>
				<background_repeat></background_repeat>
				<background_position></background_position>
			<!-- Menu -->	
				<menu_styles>1</menu_styles>
				<menu_ontop>0</menu_ontop>
				<responsive_menu>3</responsive_menu>
			</general>
			<detail_furnicom>
				<show_imagezoom>1</show_imagezoom>
				<zoom_mode>1</zoom_mode>
				<show_related>1</show_related>
				<related_number>12</related_number>
				<show_upsell>1</show_upsell>
				<upsell_number>12</upsell_number>
				<show_customtab>1</show_customtab>
				<customtab_name>Custom Tab</customtab_name>
				<customtab_content>Custom Tab Content</customtab_content>
			</detail_furnicom>
			<rich_snippets_setting>
				<use_rich_snippet>1</use_rich_snippet>
				<set_breadcrumbs>1</set_breadcrumbs>
				<google_plus_href>https://plus.google.com/u/0/+Smartaddons</google_plus_href>
			</rich_snippets_setting>
			<social_furnicom>
				<show_facebook>1</show_facebook>
				<facebook_name>Facebook</facebook_name>
				<facebook_url>https://www.facebook.com/MagenTech</facebook_url>
				<show_twitter>1</show_twitter>
				<twitter_name>Twitter</twitter_name>
				<twitter_url>https://twitter.com/smartaddons</twitter_url>
				<show_google>1</show_google>
				<google_name>Google+</google_name>
				<google_url>https://plus.google.com/u/0/+Smartaddons/posts</google_url>				
				<show_linkedin>1</show_linkedin>
				<linkedin_name>Linkedin</linkedin_name>
				<linkedin_url>#</linkedin_url>
				<flickr_name>Flickr</flickr_name>
				<flickr_url>#</flickr_url>				
				<show_pinterest>1</show_pinterest>
				<pinterest_name>Pinterest</pinterest_name>
				<pinterest_url>#</pinterest_url>
			</social_furnicom>
			<advanced>
				<show_cpanel>1</show_cpanel>
				<show_ontop>1</show_ontop>
				<!--use_ajaxcart>1</use_ajaxcart-->
				<show_addtocart>1</show_addtocart>
				<show_wishlist>1</show_wishlist>
				<show_compare>1</show_compare>
				<!--show_quickview>1</show_quickview-->
				<custom_copyright>0</custom_copyright>
				<copyright></copyright>
				<custom_css></custom_css>
				<custom_js></custom_js>
				<!--Minify css, js-->
				<compress_css_js>1</compress_css_js>
				<enable_yuicompressor></enable_yuicompressor>
				<less_compile>1</less_compile>
			</advanced>
		</furnicom_cfg>
	</default> 
</config> 