.callprice_request_form .fieldset{padding: 22px 25px 12px 33px;background:none;border: none;margin:0;}
@media (max-width: 768px){
   .callprice_request_form .fieldset{padding: 22px 0px 12px 0px;background:none;border: none;margin:0;}
	
	.desk-view, .web-mobile h2, .web-mobile h5, .web-mobile .head-bg, .ltabs-tabs-container, .hide-mobile {
		display: none;
	}
	.web-mobile{
		width:230px;
	}
}
.pop-prod-spac {
    background: url(../../images/pop-spacer.png) no-repeat scroll right center;
    height: 400px;
}
.head-bg {
    background: url(../../images/heading-bg.jpg) no-repeat right 24px, #f7f7f5;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 98%;
    text-transform: uppercase;
    margin-bottom: 5px;
}
